<!--TODO: own component for register modal (did not work)-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="username">Username</label>
                        </div>
                        <div class="col-8">
                            <input [(ngModel)]="newUser.username"
                                   type="text"
                                   class="form-control"
                                   name="username"
                                   id="username"
                                   placeholder="Enter username"
                                   required
                                   minlength="2"
                                   maxlength="20"
                                   #registerUsername="ngModel">
                            <span *ngIf="!registerUsername.valid && registerUsername.touched"
                                  class="form-text text-muted">Between 2-20 characters</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-8">
                            <!--for presentation: additional validation with pattern directive
                                between 4-20 characters at least one number lowercase and uppercase letter
                            -->
                            <input [(ngModel)]="newUser.password"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{4,}$"
                                   type="password"
                                   class="form-control"
                                   name="password"
                                   id="password"
                                   placeholder="Enter password"
                                   required
                                   #registerPass="ngModel">
                            <span *ngIf="!registerPass.valid && registerPass.touched" class="form-text text-muted">At least 4 characters(1 number, 1 lowercase letter, 1 uppercase letter)</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="password">Repeat password</label>
                        </div>
                        <div class="col-8">
                            <!--for presentation: additional validation with pattern directive
                                between 4-20 characters at least one number lowercase and uppercase letter
                            -->
                            <input [(ngModel)]="password_repeat"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{4,}$"
                                   type="password"
                                   class="form-control"
                                   name="password-repeat"
                                   id="password-repeat"
                                   placeholder="Enter password"
                                   required
                                   #registerPassRepeat="ngModel">
                            <span *ngIf="registerPass.touched && registerPassRepeat.touched && password_repeat !== newUser.password" class="form-text text-muted">Passwords have to match!</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="appellation">Appellation</label>
                        </div>
                        <div class="col-8">
                            <input [(ngModel)]="newUser.appellation"
                                   minlength="2"
                                   type="text"
                                   class="form-control"
                                   name="appellation"
                                   id="appellation"
                                   placeholder="Enter appellation"
                                   required
                                   #registerAppellation="ngModel">
                            <span *ngIf="!registerAppellation.valid && registerAppellation.touched"
                                  class="form-text text-muted">Between 2-20 characters</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="firstname">First name</label>
                        </div>
                        <div class="col-8">
                            <input [(ngModel)]="newUser.first_name"
                                   minlength="2"
                                   maxlength="20"
                                   type="text"
                                   class="form-control"
                                   name="firstname"
                                   id="firstname"
                                   placeholder="Enter first name"
                                   required
                                   #registerFirstname="ngModel">
                            <span *ngIf="!registerFirstname.valid && registerFirstname.touched"
                                  class="form-text text-muted">Between 2-20 characters</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="lastname">Last name</label>
                        </div>
                        <div class="col-8">
                            <!--for presentation: additional validation with minLength directive-->
                            <input [(ngModel)]="newUser.last_name"
                                   minlength="2"
                                   maxlength="20"
                                   type="text"
                                   class="form-control"
                                   name="lastname"
                                   id="lastname"
                                   placeholder="Enter last name"
                                   required
                                   #registerLastname="ngModel">
                            <span *ngIf="!registerLastname.valid && registerLastname.touched"
                                  class="form-text text-muted">
                                Between 2-20 characters
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-8">
                            <!--for presentation: additional validation with email directive-->
                            <input [(ngModel)]="newUser.mail"
                                   type="email"
                                   email
                                   class="form-control"
                                   name="email"
                                   id="email"
                                   placeholder="susi.mayer@gmail.com"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="street">Street</label>
                        </div>
                        <div class="col-8">
                            <input [(ngModel)]="newUser.address"
                                   type="text"
                                   class="form-control"
                                   name="street"
                                   id="street"
                                   placeholder="Enter a street"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="plz">PLZ</label>
                        </div>
                        <div class="col-8">
                            <input [(ngModel)]="newUser.post_code"
                                   type="text"
                                   class="form-control"
                                   name="plz"
                                   id="plz"
                                   placeholder="Enter a plz"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row my-1 py-1 d-flex align-items-center">
                        <div class="col-4">
                            <label for="city">City</label>
                        </div>
                        <div class="col-8">
                            <input [(ngModel)]="newUser.city"
                                   type="text"
                                   class="form-control"
                                   name="city"
                                   id="city"
                                   placeholder="Enter a city"
                                   required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit"
                    class="btn btn-outline-dark"
                    [disabled]="!registerForm.valid">
                    Register
            </button>
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
    </form>
</ng-template>


<div *ngIf="this.isUser$ | async; else login">
    <form class="form-inline mr-4" *ngIf="user$ | async as user">
        <span class="mr-2">Welcome {{user.first_name}}, {{user.last_name}}!</span>
        <button type="button"
                class="btn btn-outline-dark" (click)="logout()">
            Logout
        </button>
    </form>
</div>

<ng-template #login>
    <form class="form-inline" (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
        <!--for presentation: additional validation with minLength directive-->
        <div class="form-group">
            <input ngModel
                   minLength="4"
                   maxLength="20"
                   type="text"
                   class="form-control mr-sm-2"
                   name="username"
                   placeholder="Enter username"
                   required>

        </div>
        <!--for presentation: additional validation with pattern directive
                        between 4-20 characters at least one lowercase and uppercase letter
          -->
        <div class="form-group">
            <input ngModel
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{4,}$"
                   type="password"
                   class="form-control mr-sm-2"
                   name="password"
                   placeholder="Password"
                   required
                   #loginPass="ngModel">
        </div>
        <button type="submit"
                class="btn btn-outline-dark" [disabled]="!loginForm.valid">
            Login
        </button>
    </form>
    <span class="register-text">Not a member yet? </span><a class="register-text" (click)="open(content)" onclick="return false" href="#">Register</a>

</ng-template>

