<h2 class="text-center">Your Account</h2>

<div class="container">
    <form (ngSubmit)="onSubmitUpdateUser()" #updateUserForm="ngForm">
        <div class="container-fluid" *ngIf="user">
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="username">Username</label>
                    </div>
                    <div class="col-8">
                        <input [(ngModel)]="user.username"
                               type="text"
                               class="form-control"
                               name="username"
                               id="username"
                               placeholder="Enter username"
                               required
                               minlength="2"
                               maxlength="20"
                               #registerUsername="ngModel">
                        <span *ngIf="!registerUsername.valid && registerUsername.touched" class="form-text text-muted">Between 2-20 characters</span>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="row my-1 py-1 d-flex align-items-center">-->
                    <!--<div class="col-4">-->
                        <!--<label for="password">Password</label>-->
                    <!--</div>-->
                    <!--<div class="col-8">-->
                        <!--&lt;!&ndash;for presentation: additional validation with pattern directive-->
                            <!--between 4-20 characters at least one number lowercase and uppercase letter-->
                        <!--&ndash;&gt;-->
                        <!--<input ngModel-->
                               <!--pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{4,}$"-->
                               <!--type="password"-->
                               <!--class="form-control"-->
                               <!--name="password"-->
                               <!--placeholder="Enter password"-->
                               <!--id="password"-->
                               <!--required-->
                               <!--#registerPass="ngModel">-->
                        <!--<span *ngIf="!registerPass.valid && registerPass.touched" class="form-text text-muted">At least 4 characters(1 number, 1 lowercase letter, 1 uppercase letter)</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="appellation">Appellation</label>
                    </div>
                    <div class="col-8">
                        <input [(ngModel)]="user.appellation"
                               minlength="2"
                               type="text"
                               class="form-control"
                               name="appellation"
                               id="appellation"
                               placeholder="Enter appellation"
                               required
                               #registerAppellation="ngModel">
                        <span *ngIf="!registerAppellation.valid && registerAppellation.touched"
                              class="form-text text-muted">Between 2-20 characters</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="firstname">First name</label>
                    </div>
                    <div class="col-8">
                        <input [(ngModel)]="user.first_name"
                               minlength="2"
                               maxlength="20"
                               type="text"
                               class="form-control"
                               name="firstname"
                               id="firstname"
                               placeholder="Enter first name"
                               required
                               #registerFirstname="ngModel">
                        <span *ngIf="!registerFirstname.valid && registerFirstname.touched"
                              class="form-text text-muted">Between 2-20 characters</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="lastname">Last name</label>
                    </div>
                    <div class="col-8">
                        <!--for presentation: additional validation with minLength directive-->
                        <input [(ngModel)]="user.last_name"
                               minlength="2"
                               maxlength="20"
                               type="text"
                               class="form-control"
                               name="lastname"
                               id="lastname"
                               placeholder="Enter last name"
                               required
                               #registerLastname="ngModel">
                        <span *ngIf="!registerLastname.valid && registerLastname.touched" class="form-text text-muted">Between 2-20 characters</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-8">
                        <!--for presentation: additional validation with email directive-->
                        <input [(ngModel)]="user.mail"
                               type="email"
                               email
                               class="form-control"
                               name="email"
                               id="email"
                               placeholder="susi.mayer@gmail.com"
                               required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="street">Street</label>
                    </div>
                    <div class="col-8">
                        <input [(ngModel)]="user.address"
                               type="text"
                               class="form-control"
                               name="street"
                               id="street"
                               placeholder="Enter a street"
                               required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="plz">PLZ</label>
                    </div>
                    <div class="col-8">
                        <input [(ngModel)]="user.post_code"
                               type="text"
                               class="form-control"
                               name="plz"
                               id="plz"
                               placeholder="Enter a plz"
                               required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="city">City</label>
                    </div>
                    <div class="col-8">
                        <input [ngModel]="user.city"
                               type="text"
                               class="form-control"
                               name="city"
                               id="city"
                               placeholder="Enter a city"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit"
                    class="btn btn-outline-dark" [disabled]="!updateUserForm.valid && updateUserForm.dirty">
                Change Data
            </button>
        </div>
    </form>

    <p>
        <ngb-alert *ngIf="this.msg !== ''" (close)="showAlert('', 1)" type="success">{{this.msg}}</ngb-alert>
    </p>

</div>
