<div *ngIf="user$ | async as user">
    <div class="modal-header">
        <h5>Update confirmation</h5>
    </div>
    <div class="modal-body">
        <p>
            Hello, {{user.first_name}}, you are about to update your private information.<br>
            Please authorize this request with your password.
        </p>

        <form #updateUserForm="ngForm">
            <div class="form-group">
                <div class="row my-1 py-1 d-flex align-items-center">
                    <div class="col-4">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-8">
                        <!--for presentation: additional validation with pattern directive
                            between 4-20 characters at least one number lowercase and uppercase letter
                        -->
                        <input [(ngModel)]="password"
                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{4,}$"
                               type="password"
                               class="form-control"
                               name="password"
                               id="password"
                               placeholder="Enter password"
                               required
                               #passwordInput="ngModel">
                        <span *ngIf="failed" class="form-text text-danger">Verification failed! Please enter your valid password.</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <button class="btn btn-danger col-4" (click)="activeModal.close('Close click')">Cancel</button>
            <button class="btn btn-success col-4 float-right" (click)="updateData()" >Confirm</button>
        </div>
    </div>

</div>