<nav class="navbar navbar-expand-lg navbar-light bg-light my-2">
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs mr-auto" role="tablist">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link custom-link" routerLink="/">Home</a>
      </li>
      <li *ngIf="!(this.isAdmin$ | async)" class="nav-item" routerLinkActive="active">
        <a class="nav-link custom-link" routerLink="/products">Products</a>
      </li>
      <li *ngIf="!(this.isAdmin$ | async)" class="nav-item" routerLinkActive="active">
        <a class="nav-link custom-link" routerLink="/cart">Cart</a>
      </li>
      <li *ngIf="this.isUser$ | async as user" class="nav-item" routerLinkActive="active">
        <a class="nav-link custom-link" routerLink="/account">Account</a>
      </li>
      <li *ngIf="this.isAdmin$ | async as admin" class="nav-item" routerLinkActive="active">
        <a class="nav-link custom-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
    <app-login></app-login>
  </div>
</nav>
